version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 0 # kill the dep updates
    commit-message:
      prefix: chore
      include: scope
