/* Global */
body {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
}

p {
    font-size: 1.05rem;
}

a {
    color: black;
    font-weight: 400;
}

a:not(.no-line) {
    border-bottom: 2px solid #0099CC;
}

a:hover {
    color: black;
    border-bottom: 5px solid #0099CC;
    text-decoration: none;
}

.navigation {
    display: flex;
    align-items: baseline;
    padding: 2.5rem 0;
}

.navigation .links {
    margin-left: auto;
    font-weight: 400;
}

.navigation .branding a {
    font-weight: 700;
}

.container-small {
    max-width: 950px;
    padding: 0 2rem;
}

.footer {
    margin-bottom: 1.5rem;
}

/* Header */
.header {
    padding: 2rem 0;
    margin-bottom: 2.5rem;
}

.header h1 {
    font-size: max(3rem, min(8vw, 4rem));
}

.header h5 {
    font-weight: 300;
}