/* Main body stuff */
body {
    font-family: "Manrope", "Roboto", sans-serif;
    line-height: 1.6;
}

a:not(.noline) {
    color: black;
    border-bottom: 2px solid #0099CC;
}

.noline {
    color: black;
    border-bottom: 0px solid #0099CC;
}

a:hover {
    color: black;
    border-bottom: 5px solid #0099CC;
    text-decoration: none;
}

/* Additonal Classes */
.bold {
    font-weight: 600;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer p {
    font-size: 15px;
}

.welcome {
    margin-top: 100px;
    font-weight: 700;
    font-size: 38px;
}

.large-height {
    line-height: 1.9;
}

.subheader {
    margin-bottom: 50px;
}

.heading {
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}

.container-small {
    padding: 10px 30px;
}

/* Container Sizes */
@media (min-width: 768px) {
    .container-small {
        width: 800px;
    }
} 
@media (min-width: 992px) {
    .container-small {
        width: 860px;
    }

    .welcome {
        font-size: 60px;
    }
} 
@media (min-width: 1200px) {
    .container-small {
        width: 950px;
    }
}

.container-small, .container-large {
    max-width: 100%;
}

/* Navigation bar */
.navigation {
    padding-top: 30px;
    margin-bottom: 80px;
}

.navigation .name {
    font-weight: 700;
}

.navigation .link {
    margin-left: 20px;
}

/* Overrides */
.card-title {
    font-weight: 600 !important;
}

/* Index specific */
.middle {
    display: flex;
    align-items: center;
}

.small-text {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
}