img {
    display: block;
    width: 90%;
    margin: 1.5rem auto;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
    border-radius: 0.25rem;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 1rem;
}